{% extends "layout.html" %}
{% block content %}
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <legend class="title is-4 text-center">Create A New Badge</legend>

                <div class="field">
                    <label class="label">{{ form.name.label }}</label>
                    <div class="control">
                        {% if form.name.errors %}
                            {{ form.name(class="input is-danger") }}
                            <div class="is-danger">
                                {% for error in form.name.errors %}
                                    <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="input") }}
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{ form.caption.label }}</label>
                    <div class="control">
                        {% if form.caption.errors %}
                            {{ form.caption(class="textarea is-danger") }}
                            <div class="is-danger">
                                {% for error in form.caption.errors %}
                                    <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.caption(class="textarea") }}
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{ form.file.label }}</label>
                    <div class="file has-name is-fullwidth">
                        <label class="file-label">
                            {% if form.file.errors %}
                                {{ form.file(class="file-input") }}
                                <div class="is-danger">
                                    {% for error in form.file.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.file(class="file-input") }}
                            {% endif %}
                            <span class="file-cta">
                            <span class="file-icon">
                              <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">Choose a file...</span>
                          </span>
                            <span class="file-name"></span>
                        </label>
                    </div>
                </div>

                <div class="field horizontal-center">
                    {{ form.submit(class="button") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/file_upload.js') }}"></script>
{% endblock %}