{% extends "layout.html" %}
{% block content %}
    <div id="padding">
        <div id="info">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <img src="{{ url_for("static", filename="images/include.jpg") }}" id="profile"
                             alt="Cinque Terre">
                    </div>

                    <div class="col-8">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <p class="user">#include</p>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-info btn-sm" href="{{ url_for("posts.post_new") }}">Make a
                                    Post</a>
                            </li>
                        </ul>

                        <ul class="list-inline">
                            <li class="list-inline-item"><strong>100</strong> Posts</li>
                            <li class="list-inline-item"><strong>370</strong> Followers</li>
                            <li class="list-inline-item"><strong>75</strong> Following</li>
                        </ul>

                        <p>
                            By working in our specially crafted, intricate team structure, we are able to build
                            projects for our partnering nonprofits from the ground up, tailoring projects to the
                            needs of the causes we care about and always looking at the projects we're given
                            from absolutely all aspects of the design and engineering processes.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
        </ul>

        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ post.image }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.name }}</h5>
                                <a href="{{ url_for("posts.post_edit", post_id=post.id) }}"
                                   class="card-link btn btn-outline-success">Edit</a>
                                <form class="delete_btn" method="POST"
                                      action="{{ url_for("posts.post_delete", post_id=post.id) }}">
                                    {{ form.delete(class="card-link btn btn-outline-danger") }}
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}